name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  job01:
    runs-on: ubuntu-latest

    steps:
      - name: Mensagem
        run: |
          date -d "-3 hours"
          echo Primeiro job

  job02:
    runs-on: ubuntu-latest
    needs: [job01]

    steps:
      - name: Mensagem
        run: |
          echo Segundo job
          date -d "-3 hours"

  job03:
    runs-on: ubuntu-latest
    needs: [job02]

    steps:
      - name: Mensagem
        run: |
          echo Terceiro job
          date -d "-3 hours"

  job04:
    runs-on: ubuntu-latest
    needs: [job01]

    steps:
      - name: Mensagem
        run: |
          echo Quarto job
          date -d "-3 hours"
